/*Código armado por La Foca Loca S.A. No modificar*/
body {
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
  font-family: 'Roboto', sans-serif;

}

.container{
  margin: 15px auto;
  width: 1200px;
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

img {
  max-width: 100%;
}

.col-40 h1 {
  font-size: 18px;
  color: #E84A5F;
}

.col-40 h2 {
  font-size: 15px;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 210px;
}

.col-60 {
  background: #E84A5F;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#juego {
  width: 990px;
  height: 990px;
}

.pieza {
  width:330px;
  height: 330px;
  border:1px solid white;
  box-sizing: border-box;
  float: left;
}

#footer {
  padding:30px 0;
}
